@font-face {
	font-family: ABlackCrown;
	src: url(../fonts/ablackcrown/ABlackCrown.ttf);
}

@font-face {
	font-family: 'White Star';
	src: url(../fonts/white-star-free/WhiteStarFree/WhiteStar.otf);
} 

@font-face {
	font-family: 'Aisyah';
	src: url(../fonts/aisyah-demo/Aisyah-Demo.otf);
}


/*CSS Reset*/


* {
	margin: 0;
	padding-right: 0;
	box-sizing: border-box;
}

html, body {
	font-family: Roboto, sans-serif;
	line-height: 2;
	overflow-x: hidden;
}

/*presets*/
h1 {
	font-family: Aisyah;
}

h2 {
	font-size: 2.5em;
	font-family: 'White Star';
}

h3, h4 {
	font-family: ABlackCrown;
}

p {
	font-family: Roboto, Arial, sans-serif;
}


/*nav for mobile*/

.active-nav {
	background-color: #0074E1;
}

li:hover:not(.active-nav) {
	background-color: #EDF5E1;
}

#remember {
	margin-bottom: 0;
	padding-top: 1em;
}

p#remember-quote {
	padding-left: 2em;
	padding-right: 2em;
	text-indent: 0;
}

em {
	display: block;
}

#btn-grp {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/*Jumbotron Home Style*/


.jumbotron {
	position: relative;
	background-blend-mode: screen;
	background: url(../images/ring.jpg);
	background-color: #0074E1;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	border-radius: 0;
	height: 100vh;
	margin-bottom: 0;


}

#clickable-arrow {
	text-decoration: none;
	color: black;
}

#clickable-arrow:hover {
	color: red;
	font-weight: bolder;
}


/*Jumbotron Gallery Style*/

.jumbotron-gallery {
	/*position: relative;*/
	background-blend-mode: overlay;
	background: url(../images/gallery-bg.jpg);
	background-color: #10E7DC;
	background-position: center;
	background-attachment: fixed;
	background-size: contain;
	border-radius: 0;
	height: 100vh;
	width: 100%;
	overflow-x: hidden;
	display:flex; 
	flex-direction:column;
	justify-content: center;
	align-content: center;
	text-align: center;
	padding-top: 5.5em;
}

.jumbotron-gallery h4 {
	padding-top: 1.5em;
}

.intro-gallery {
	font-size: 5rem;
}

/*Jumbotron Blog Style*/

.featured {
	background-color: #0074E1;
	width: 100%;
	height: 100vh;
	display:flex; 
	flex-direction:column;
	justify-content: center;
	align-content: center;
	text-align: center;
	color: white;
	padding: 1.96875em 0 0;

}

#intro-featured, .title-featured {
	font-family: Roboto, sans-serif;
}

#intro-featured {
	font-size: 0.875rem;
	opacity: 0.9;
	margin-bottom: 0;
}

.title-featured {
	font-size: 3.5rem;
}

.cards-container div {
	max-width: 100%;
	height: auto;
	border: none;
}

.cards-container div:hover {
	box-shadow: 4px 8px 24px 8px #888888;
}


.card-text {
	text-align: center;
}

.card-body {
	background-color: #DCDCDC;
	text-align: center;
	color: black;
}

.cards-container {
	display: grid;
	grid-template-columns: auto;
	grid-gap: 2em;
	padding: 3em;
}

.cards-container span {
	font-variant: small-caps;
	opacity: 0.5;
}


/*Slogan style*/


.display-4 {
	color: black;
	text-align: center;
	padding-top: 5rem;
	font-size: 5rem;
}


/*Menu Options Style */

/*hide navbar for tablet view*/
nav.tablet-view ul {
	display: none;
}

#menucard-body {
	background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	opacity: 0.9;
	padding-left: 0;
	padding-right: 0;
	font-size: 2rem;
	height: 100vh;
	text-align: center;
	line-height: 5.5rem;
}

#menucard-body ul {
	padding-left: 0;
}

#menucard-body ul li {
	list-style-type: none;

}

#menucard-body ul li a {
	color: black;
}

#menucard {
	background-color: transparent;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	border: none;
}

.card-header {
	background-color: white;
	border-bottom: none;
}

div#headingTwo.card-header {
	padding: 0.5em;
}

.mb-0 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.fa-bars {
	color: black;
	font-weight: bolder;
	font-size: 1em;
}


/*Bouncing arrow style*/


.arrow {
	position: relative;
	width: 50px;
	height: 50px;
	left: 50%;
	margin-left: -25px;
	text-align: center;
	font-size: 3rem;
	animation: bouncearrow 1s infinite;
}

.arrowholder {
	position: absolute;
	width: 100%;
	height: 50px;
	top: 80%;
	left: 0;
}

@keyframes bouncearrow {
	0% {top: 0px;}
	50%{top: 20px;}
	100%{top: 0px;}
}


/*Highlights Section Style*/

.division {
	width: 100%;
	background-color: #252A34;
	height: 18vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.division h2 {
	text-align: center;
	color: white;
	padding-top: 0.3em;
}

.flex-container {
  	display: flex;
  	flex-direction: column;
}

.flex-container h2 {
	text-align: center;
	padding-top: 0.25em;
}

.flex-container > div {
  	background-color: #f1f1f1;
  	margin: 2em;
 	padding: 1em;
  	text-align: center;
  	line-height: 1.5rem;
  	font-size: 1em;
  	/*box-shadow: 1px 2px 10px 6px #888888;*/
  	border-radius: 3%;
}

.flex-container img {
	max-width: 100%;
	/*height: 18.3rem;
	width: 17em;*/
	border-radius: 50%;
}


.flex-container p {
	font-family: Roboto, sans-serif;
	text-align: justify;
	padding-left: 1em;
	padding-right: 1em;
}



.flex-container h3 {
	font-size: 2.5em;
	letter-spacing: 0.2em;
	
}

/*Button Style*/

button.btn-1 {
	display: block;
	position: relative;
  	background: none;
  	border: none;
  	color: black;
  	font-size: 18px;
  	cursor: pointer;
 	margin: 20px 30px;
  	background: rgba(0,0,0,0.09);
}

div.btn-container{
	display: flex;
	justify-content: center;
}

span { 
	display: block;
	padding: 25px 15px;
	text-align: center;
}

button.btn-1::before, button.btn-1::after{
	content:"";
	width: 0;
	height: 2px;
	position: absolute;
	transition: all 0.2s linear;
	background: black;
}

span::before, span::after{
	content:"";
	width:2px;
	height:0;
	position: absolute;
	transition: all 0.2s linear;
	background: black;
}

button.btn-1:hover::before, button.btn-1:hover::after{
	width: 100%;
}

button.btn-1:hover span::before, button.btn-1:hover span::after{
	height: 100%;
}

.btn-1::before{
	left: 50%;
	top: 0;
	transition-duration: 0.4s;
}
.btn-1::after{
	left: 50%;
	bottom: 0;
	transition-duration: 0.4s;
}
.btn-1 span::before{
	left: 0;
	top: 50%;
	transition-duration: 0.4s;
}
.btn-1 span::after{
	right: 0;
	top: 50%;
	transition-duration: 0.4s;
}
.btn-1:hover::before, .btn-1:hover::after {
	left: 0;
}
.btn-1:hover span::before, .btn-1:hover span::after {
	top: 0;
}


/* Background with Parallax Scroll Effect */


.bg-img-parallax {
	background-image: url(../images/manila_temple.jpeg);
	width: 100%;
	background-blend-mode: hard-light;
	background-color: #10E7DC;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	height: 50vh;
}


/*Quotes style*/


.quotes {text-align: center;}

#carouselExampleIndicators {
	background-color: #252A34;
	height: 70vh;
	color: #f1f1f1;
	padding-left: 5vh;
	padding-right: 5vh;
	display: grid;
	grid-template-columns: auto;
	justify-content: center;
	



}

.carousel-inner .carousel-item{padding-top: 0;}

.quotes h2 {padding-top: 1em;}


/*Location Styles*/


.location iframe {
	padding-top: 4vh;
}

.location {
	text-align: center;
	margin: 1.5em auto;
	/*box-shadow: 1px 2px 10px 6px #888888;*/
	/*width: 20vh;*/
}

.location h2 {padding-top: 0.7em;}


/*Footer Styles*/

/*hide footer desktop*/

.footer-desktop {
	display: none;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #10E7DC;
	padding: 1.5rem 3rem 1rem 3rem;
}

.footer p {
	font-size: 0.625rem;
	padding-right: 3em;
}
/*end of index.html styles*/


.video-container video {
	height: auto;
	width: 100%;
	object-fit: cover;
	display: block;  /*to remove whitespace under the video element*/
}

	/*prenup*/
	.carousel-inner {
		padding-top: 0;
	}

	#slideshow {
		display: none;
	}

.img-container {
	display: none;
}

	.vid-container iframe {
		width: 100%;
	}

	.vid-container h2 {
		padding-bottom: 1em;
		text-align: center;
		padding-top: 2em;
	}

.other-videos h4 {
	font-family: Roboto, sans-serif;
	text-shadow: 0 0 8px #6CDAEE, 0 0 9px #10E7DC;
}



/*contact us page*/

.contact-us-intro {
	height: 80vh;
	background-color: #EDF5E1;
	background-position: bottom center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: : center;
	text-align: center;
	padding-top: 8em;
}

.contact-us-intro h1 {
	font-family: Roboto, sans-serif;
	color: #0d023c;
	font-size: 30vh;
	margin-bottom: 0;
}

form {
	width: 80%;
	padding: 2em 2em;
	margin: 3em auto;
	box-shadow: 1px 2px 10px 6px #888888;
}


form h3, form p {
	font-family: Roboto, sans-serif;
}

form h1 {
	color: #0074E1;
}

form p {
	opacity: 0.75;
}

form h1, form h3 {
	font-weight: bold;
}


/*blog*/
#concessionaire {
		background-color: #EEB742;
	}

#clothes {
	background-color: black;
}

#reception {
	background-color: #FFEFE8;
}

#reception-title {
	color: #82AEC0;
	padding-top: 0.7em;
}

div#together {
	background-color: black;
}

.article-container h1 {
		font-weight: 500;
	}

#concessionaire-title {
	font-size: 2.8em;
	padding-top: 0.8em;
}

#together-title {
	color: white;
	padding-top: 0.5em;
}

#section-article {
	padding: 0 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-indent: 2.5em;
	text-align: justify;

}

#section-article h3 {
	text-align: center;
	padding-top: 2em;
}

#section-article .poem {
	margin: 0 auto;
	line-height: 1.5;
	padding-top: 1em;
	text-indent: 0;
}

.second-stanza {
	padding-top: 1.5em;
}

.third-stanza {
	padding-top: 1.5em;
}

.fourth-stanza {
	padding-top: 1.5em;
}

#section-article > p {
	padding-top: 2em;
	padding-left: 2em;
	padding-right: 2em;
}

#featured-main {
	height: 110vh;
}

.embed-responsive {
	margin: 0 auto;
}

.submit-btn {
	width: 7em;
}




/*TABLET VIEW*/


@media only screen and (min-width: 600px) {

	button.btn {display: none;}

	#menucard {display: none;}

	nav.tablet-view {
		background-color: white;
		padding-bottom: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1;
		border: none;
	}

	nav.tablet-view ul {
		display: flex;
		justify-content: space-around;
		margin-bottom: 0;
		padding-bottom: 0;
		list-style-type: none;
	}

	nav.tablet-view li a{
		display: block;
		padding: 1rem 1rem;
		font-size: 1em;
		letter-spacing: 0.05em;
		color: #333333;
	}

	nav ul img {padding-top: 0.625em;}


	/*Highlights Section Style*/


	.flex-container h2 {padding-top: 1em;}

	.flex-container > div {
	  margin-top: 2em;
	  margin-bottom: 2em;
	}

	.flex-container div:nth-of-type(1) {
		margin-right: 1em;
	}
	.flex-container:nth-of-type(2) {
		margin-left: 1em;
	}

	div.flex-container {
		display: grid;
		grid-template-columns: auto auto;
	}




	/*blog section tablet view*/


	.featured {
		display: grid;
		grid-template-columns: auto auto;
		justify-content: space-around;
		align-content: center;
		padding-top: 6em;
		height: 50vh;
	}

	#featured-main {
		padding-top: 7em;
	}

	article.article-container {
		text-align: justify;
		padding-left: 3rem;
		padding-right: 1rem;
		padding-bottom: 5rem;
	}

	.article-container h1 {
		font-weight: 700;
	}



	/*changed the order of the images*/

	img.couple {order: 1;}

	article#together {order: 2;}

	article#diy {order: 3;}

	img.plan {order: 4;}

	img.bridesmaids {order: 5;}

	article#friends {order: 6;}

	
	/*Gallery Styles*/
	#slideshow {
		display: none;
	}




	.cards-container {
		grid-template-columns: auto auto;
	}


	button#submit-btn {
		display: block;
	}

	form {
		width: 50%;
	}

	.contact-us-intro {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-content: center;
	}

	#featured-main {
	height: 55vh;
}

}


/*DESKTOP VIEW*/


@media only screen and (min-width: 1024px) {

	/*change width of article container*/

	.flex-container > div {
		margin-left: 10rem;
		margin-right: 10rem;
	}


	.location {
		width: 50%;
		margin-top: 3em;
		margin-bottom: 3em;
	}

	.footer {
		display: none;
	}

	.footer-desktop {
		background-color: #10E7DC;
		padding: 5rem 5rem;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.footer-desktop #logo-footer {
		display: block;
	}

	.footer-desktop img {
		width: 40vh;
		height: 20vh;
	}

	div.media div {
		word-spacing: 1em;
		padding-bottom: 0.25em;
	}

	.media i {
		padding-right: 0.5em;
	}

	.media a {
		font-weight: bold;
		text-decoration: none;
	}

	#carouselExampleControls {
		display: none;
	}

	#carouselExampleControls1 {
		display: none;
	}

	#slideshow {
		display: block;
	}

	.video-container video {
		height: 15em;
	}


	#slideshow {
	
	margin: 0 auto;
	padding-top: 23vh;
	height: 100vh;
	width: 100%;
	box-sizing: border-box;
	background-blend-mode: overlay;
	background: url(../images/prenup/prenup-collage.jpg);
	background-color: #0074E1;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.entire-content {
	margin: auto;
	width: 11.75rem;
	perspective: 60em;
	position: relative;
	padding-top: 60px;
	
}

.content-carrousel {
	width: 100%;
	position: absolute;
	float: right;
	animation: rotate 40s infinite linear;
	transform-style: preserve-3d;
	background-color: black;
}

.content-carrousel:hover {
	animation-play-state: paused;
	cursor: url(../images/red.png), pointer;
}

.content-carrousel figure {
	width: 100%;
	height: 25vh;
	border: 1px solid #3b444b;
	overflow: hidden;
	position: absolute;
}

.content-carrousel figure:nth-child(1) {
	transform: rotateY(0deg) translateZ(300px); 
} .content-carrousel figure:nth-child(2) {
	transform: rotateY(40deg) translateZ(300px); 
} .content-carrousel figure:nth-child(3) {
	transform: rotateY(80deg) translateZ(300px); 
} .content-carrousel figure:nth-child(4) {
	transform: rotateY(120deg) translateZ(300px); 
} .content-carrousel figure:nth-child(5) {
	transform: rotateY(160deg) translateZ(300px); 
} .content-carrousel figure:nth-child(6) {
	transform: rotateY(200deg) translateZ(300px); 
} .content-carrousel figure:nth-child(7) {
	transform: rotateY(240deg) translateZ(300px); 
} .content-carrousel figure:nth-child(8) {
	transform: rotateY(280deg) translateZ(300px); 
} .content-carrousel figure:nth-child(9) {
	transform: rotateY(320deg) translateZ(300px); 
} .content-carrousel figure:nth-child(10) {
	transform: rotateY(360deg) translateZ(300px); 
} 

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 1px;
}

.content-carrousel img {
	image-rendering: auto;
	transition: all 300ms;
	width: 100%;
	height: 100%;
}

.content-carrousel img:hover {
	transform: scale(2);
	transition: all 300ms;
}

@keyframes rotate {
	from {
		transform: rotateY(0deg);
	} 
	to {
		transform: rotateY(360deg);
	}
}

.img-container {
	display: grid;
	grid-template-columns: auto auto;
	grid-row-gap: 5em;
	justify-content: space-around;
	padding-top: 5em;
	padding-bottom: 5em;
}

.img-container div {
	box-shadow: 1px 2px 10px 6px #888888;
}

.other-videos {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-around;
	text-align: center;
	margin-top: 4em;
	margin-bottom: 4em;
}

.cards-container {
		grid-template-columns: auto auto auto;
	}

}